
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 158.4rem;
}.menu-1-3Bc {
  height: 110.1rem;
  overflow: hidden;
  position: relative;
  background-color: #f5ebcf;
  width: 100%;

  .bg-dfc {
    position: relative;
    width: 170.4762rem;
    height: 100%;

    .japanese--ej8 {
      top: 0;
      object-fit: cover;
      vertical-align: top;
      width: 144rem;
      height: 102.4rem;
      position: absolute;
      left: 0.0002rem;
    }
    .ellipse-17-kXG {
      width: 170.4762rem;
      height: 34.358rem;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: contain;
      vertical-align: top;
    }
    .logo-gA2 {
      align-items: center;
      justify-content: center;
      background-position: center;
      height: 10.3rem;
      top: 0.8rem;
      font-weight: 400;
      color: #f5ebcf;
      font-family: Pattaya, 'Source Sans Pro';
      background-image: url('REPLACE_IMAGE:9:63');
      left: 3.0002rem;
      display: flex;
      width: 10.4rem;
      text-align: center;
      font-size: 4rem;
      position: absolute;
      line-height: 1.3875;
      white-space: nowrap;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .title-pfY {
      text-align: center;
      font-size: 6.4rem;
      color: #000000;
      display: flex;
      align-items: center;
      width: 31.3rem;
      height: 12.2rem;
      left: 55.2rem;
      background-image: url('REPLACE_IMAGE:11:105');
      font-family: Pecita, 'Source Sans Pro';
      background-size: cover;
      background-position: center;
      position: absolute;
      top: 11.1rem;
      font-weight: 400;
      line-height: 1.2575;
      white-space: nowrap;
      justify-content: center;
      background-repeat: no-repeat;
    }
    .logout-button-hDY {
      display: flex;
      background-color: #5b3018;
      width: 21.9rem;
      left: 119.3rem;
      top: 3rem;
      line-height: 1.2575;
      font-family: Pecita, 'Source Sans Pro';
      white-space: nowrap;
      height: 6.3rem;
      position: absolute;
      text-align: center;
      font-size: 4rem;
      color: #ffffff;
      align-items: center;
      border-radius: 3rem;
      font-weight: 400;
      justify-content: center;
    }
    .home-kxW {
      text-align: center;
      font-family: Pecita, 'Source Sans Pro';
      position: absolute;
      left: 104.1rem;
      top: 3.7rem;
      font-size: 4rem;
      font-weight: 400;
      line-height: 1.2575;
      width: 10.1rem;
      height: 5.1rem;
      color: #ffffff;
      white-space: nowrap;
    }
    .back-button-s1Y {
      height: 7.5rem;
      position: absolute;
      left: 3.1rem;
      top: 88.4rem;
      border-radius: 2rem;
      width: 20.6rem;

      .rectangle-49-nPQ {
        height: 7.5rem;
        position: absolute;
        left: 1.4rem;
        top: 0;
        background-color: #5b3018;
        border-radius: 2rem;
        width: 17.8rem;
      }
      .back-to-cuisines-hmG {
        font-weight: 400;
        line-height: 1.2575;
        white-space: nowrap;
        width: 20.1rem;
        left: 0.25rem;
        text-align: center;
        font-size: 3rem;
        color: #ffffff;
        font-family: Pecita, 'Source Sans Pro';
        height: 3.8rem;
        position: absolute;
        top: 0;
      }
    }
    .cart-button-BwL {
      border-radius: 2rem;
      width: 20.6rem;
      height: 7.6rem;
      position: absolute;
      left: 121.6rem;
      top: 89.2rem;

      .rectangle-48-ve2 {
        left: 1.4rem;
        top: 0;
        background-color: #000000;
        border-radius: 2rem;
        width: 17.8rem;
        height: 7.5rem;
        position: absolute;
      }
      .view-cart-2h4 {
        left: 7.1rem;
        top: 0;
        text-align: center;
        color: #ffffff;
        width: 6.4rem;
        position: absolute;
        font-weight: 400;
        line-height: 1.2575;
        font-family: Pecita, 'Source Sans Pro';
        height: 7.6rem;
        font-size: 3rem;
      }
    }
    .fodd-card-3-vGe {
      width: 41.1rem;
      height: 40.7rem;
      position: absolute;
      left: 97.9rem;
      top: 29rem;
      background-color: #5b3018;
    }
    .food-card-2-TGa {
      width: 41.1rem;
      height: 40.7rem;
      position: absolute;
      left: 52.1rem;
      top: 48.5rem;
      background-color: #5b3018;
    }
    .food-card-1-b7t {
      left: 6.3rem;
      top: 28.2rem;
      background-color: #5b3018;
      width: 41.1rem;
      height: 40.7rem;
      position: absolute;
    }
    .idli-L5U {
      width: 29.8rem;
      height: 23.7rem;
      position: absolute;
      left: 11.2rem;
      top: 31.8rem;
      object-fit: cover;
      vertical-align: top;
    }
    .dosa-534 {
      left: 99.2rem;
      top: 31.8rem;
      object-fit: cover;
      vertical-align: top;
      width: 38.6rem;
      height: 26.9rem;
      position: absolute;
    }
    .poori--1hQ {
      width: 36.3rem;
      height: 23rem;
      position: absolute;
      left: 54.5rem;
      top: 52.6rem;
      object-fit: cover;
      vertical-align: top;
    }
    .title-card-3-kez {
      position: absolute;
      left: 100.6rem;
      top: 56.9rem;
      background-color: #f5ebcf;
      width: 36rem;
      height: 10.7rem;

      .rectangle-43-Uqt {
        left: 0;
        top: 0;
        background-color: #000000;
        width: 35.1rem;
        height: 9.7rem;
        position: absolute;
      }
      .flat-bread-made-of-rice-flour-dTt {
        width: 18.8rem;
        text-align: center;
        white-space: nowrap;
        height: 2.1rem;
        position: absolute;
        left: 8.8rem;
        top: 4rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2575;
        color: #ffffff;
        font-family: Pecita, 'Source Sans Pro';
      }
      .item-99-vht {
        width: 3.3rem;
        top: 6.4rem;
        text-align: center;
        line-height: 1.3875;
        color: #ffffff;
        font-family: Pattaya, 'Source Sans Pro';
        white-space: nowrap;
        height: 2.8rem;
        position: absolute;
        left: 17.05rem;
        font-size: 2rem;
        font-weight: 400;
      }
    }
    .title-card-2-Qd4 {
      top: 76.6rem;
      background-color: #f5ebcf;
      width: 36rem;
      height: 10.7rem;
      position: absolute;
      left: 54.5rem;

      .rectangle-41-jfL {
        position: absolute;
        left: 0;
        top: 0;
        background-color: #000000;
        width: 35.1rem;
        height: 9.7rem;
      }
      .poori-4hc {
        height: 4.1rem;
        position: absolute;
        top: 0;
        text-align: center;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.2575;
        font-family: Pecita, 'Source Sans Pro';
        white-space: nowrap;
        width: 7.2rem;
        left: 13.65rem;
        color: #ffffff;
      }
      .fluffy-wheat-bread-deep-fried-ZPU {
        top: 4.2rem;
        text-align: center;
        line-height: 1.2575;
        color: #ffffff;
        height: 2.1rem;
        position: absolute;
        left: 8rem;
        font-size: 1.6rem;
        font-weight: 400;
        font-family: Pecita, 'Source Sans Pro';
        white-space: nowrap;
        width: 19.2rem;
      }
      .item-59-EkW {
        font-family: Pattaya, 'Source Sans Pro';
        height: 2.8rem;
        left: 16.3rem;
        text-align: center;
        line-height: 1.3875;
        font-weight: 400;
        color: #ffffff;
        white-space: nowrap;
        width: 3.3rem;
        position: absolute;
        top: 6.9rem;
        font-size: 2rem;
      }
    }
    .title-card-1-jxA {
      width: 36rem;
      height: 10.7rem;
      position: absolute;
      left: 8.7rem;
      top: 56rem;
      background-color: #f5ebcf;

      .rectangle-39-Gx6 {
        left: 0;
        top: 0;
        background-color: #000000;
        width: 35.1rem;
        height: 9.7rem;
        position: absolute;
      }
      .idli-Rpz {
        width: 4.3rem;
        height: 4.1rem;
        top: 0.9rem;
        line-height: 1.2575;
        white-space: nowrap;
        font-family: Pecita, 'Source Sans Pro';
        position: absolute;
        left: 15.8rem;
        text-align: center;
        font-size: 3.2rem;
        font-weight: 400;
        color: #ffffff;
      }
      .indian-rice-cake-for-light-breakfast-x4E {
        left: 6.8rem;
        font-size: 1.6rem;
        line-height: 1.2575;
        color: #ffffff;
        font-family: Pecita, 'Source Sans Pro';
        height: 2.1rem;
        position: absolute;
        text-align: center;
        font-weight: 400;
        white-space: nowrap;
        width: 22.8rem;
        top: 4.6rem;
      }
      .item-39-F3L {
        text-align: center;
        font-weight: 400;
        line-height: 1.3875;
        font-family: Pattaya, 'Source Sans Pro';
        width: 3.3rem;
        position: absolute;
        top: 6.7rem;
        color: #ffffff;
        white-space: nowrap;
        height: 2.8rem;
        left: 15.65rem;
        font-size: 2rem;
      }
    }
    .dosa-jUJ {
      text-align: center;
      font-family: Pecita, 'Source Sans Pro';
      line-height: 1.2575;
      width: 6.7rem;
      height: 4.1rem;
      position: absolute;
      left: 114.8rem;
      top: 56.8rem;
      font-size: 3.2rem;
      font-weight: 400;
      color: #ffffff;
      white-space: nowrap;
    }
  }
}
